@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>World Gym</h1>
    <p class="lead">A HISTORY OF INNOVATION & DECADES OF EXPERTISE.</p>
    <p><a href="https://www.worldgym.com/why-world-gym" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>LOCAL PASSION</h2>
        <p>
            Although we have over 215 locations around the globe, each of our gyms are locally and independently-owned. 
            Each gym is uniquely connected to the community, meaning that no two World Gym locations are the same.
            Everyone at World Gym is passionate about fitness. We love to work out.
            And we love to share our passion and knowledge with our members.
        </p>
        <p><a class="btn btn-default" href="https://www.worldgym.com/findagym">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>SUCCESS STORIES</h2>
        <p>Self-motivation is a great but a team to support you is even better. When you work out at World Gym,
        you’re surrounded by friends and champions who share your passion, and who raise each other to greatness.
        At World Gym, you’ll find a positive, encouraging atmosphere. Train with us, and you’ll not only be part of 
        the team, you’ll be part of the family.</p>
        <p><a class="btn btn-default" href="https://www.worldgym.com/success-stories">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>BUY PRODUCTS</h2>
        <p>
            Official World Gym Clothing Shop
            VIEW ALL WORLD GYM PRODUCTS AVAILABLE.
        </p>
        <p><a class="btn btn-default" href="https://www.shopworldgym.com/">Learn more &raquo;</a></p>
    </div>
</div>